
<section class="w33 flex-vert no-scroll" style="height: 15rem;">
    <title>Generator Group</title>
    <div class="flex-fill auto-scroll">
        <ul id="generators"></ul>
    </div>
    <!-- <select id="spawns" class="flex-fill" size="20"><option></option></select> -->

</section>
<section class="w33 flex-vert" style="height: 15rem;">
    <title>Group Information</title>

    <input id="groupName" type="text" placeholder="Encounter group name">
    <hr />

    <input id="gen_0" type="text" value="0" placeholder="None" readonly />
    <input id="gen_1" type="text" value="0" />
    <input id="gen_2" type="text" value="0" />
    <input id="gen_3" type="text" value="0" />
    <input id="gen_4" type="text" value="0" />
    <input id="gen_5" type="text" value="0" />
    <input id="gen_6" type="text" value="0" />
    <input id="gen_7" type="text" value="0" />
    <input id="gen_8" type="text" value="0" />
    <input id="gen_9" type="text" value="0" />
    <input id="gen_A" type="text" value="0" />
    <input id="gen_B" type="text" value="0" />
    <input id="gen_C" type="text" value="0" />
    <input id="gen_D" type="text" value="0" />
    <input id="gen_E" type="text" value="0" />
    <input id="gen_F" type="text" value="0" />

</section>