
<section class="main">
    <canvas id="mapCanvas" style="background-color:#1F2B3D"></canvas>
</section>
<section class="tools">
    <div id="lb">Landblock: None</div>
    <div id="coords">Coordinates: Invalid</div>

    <select id="spawns"><option></option></select>
    <input id="groupName" type="text" placeholder="Encounter group name">
    <ul id="generators" size="16">
        <li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li>
    </ul>

    <hr />

    <select id="toolShape">
        <option value="0">Fill</option>
        <option value="1" data-min-size="3">Checker Board</option>
        <option value="2" data-min-size="3">Checker Board (Alt)</option>
    </select>

    <br />

    <input id="toolSize" type="range" min="1" max="9" list="ticks" />
    <datalist id="ticks">
        <option value="0"></option>
        <option value="3"></option>
        <option value="6"></option>
        <option value="9"></option>
    </datalist>
</section>
